flows1.json
[{"id":"a00dfdd9.ce078","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4adb1a.fb13b5","type":"visual-recognition-v3","z":"a00dfdd9.ce078","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":649,"y":445,"wires":[["2c5f5c19.1909a4"]]},{"id":"da7d9d71.e3cb","type":"http in","z":"a00dfdd9.ce078","name":"","url":"/reco","method":"get","swaggerDoc":"","x":267,"y":263,"wires":[["6e603619.421cc8"]]},{"id":"b845a4df.2ccc88","type":"http response","z":"a00dfdd9.ce078","name":"HTTP Response","x":1052.9999885559082,"y":309.0000171661377,"wires":[]},{"id":"6e603619.421cc8","type":"switch","z":"a00dfdd9.ce078","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":391,"y":325,"wires":[["78d4fb5e.693024"],["106dcfc1.8ee55"]]},{"id":"78d4fb5e.693024","type":"template","z":"a00dfdd9.ce078","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body style=\"background-image:url('http://images.internationalmdicalrelief.org.s3.amazonaws.com/trip-14919/DisasterReliefLombokIndonesia-14919-Cover_1537483165.jpg');\">\n<h1>Scan the item you wish to Donate !</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://images-na.ssl-images-amazon.com/images/I/81BVhPKuIzL._SX425_.jpg\" height='100'/>\n        <img src=\"https://s7d2.scene7.com/is/image/Hay/test_adobesupport?$image_src=Hay/Elementaire_Side_Chair_defaultfront&$b2c_1270x846_jpeg$\"  height='100'/>\n        <img src=\"https://img.fcbayern.com/image/upload/f_auto,q_auto/t_product-superzoom/eCommerce/produkte/23079/scout-fc-bayern-schulranzen.jpg\" height='100'/>\n        <img src=\"https://i5.walmartimages.com/asr/57ca98a4-4a0c-4d30-841e-356a248e60ac_1.06084e6f8f6e7e3e0293a40991328eab.jpeg\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" class=\"form-control\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n\n    </form>\n</body>\n</html>","x":685,"y":294,"wires":[["b845a4df.2ccc88"]]},{"id":"106dcfc1.8ee55","type":"change","z":"a00dfdd9.ce078","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":383,"wires":[["d4adb1a.fb13b5"]]},{"id":"df97788e.38a4f8","type":"comment","z":"a00dfdd9.ce078","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":659,"y":510.00000762939453,"wires":[]},{"id":"2c5f5c19.1909a4","type":"function","z":"a00dfdd9.ce078","name":"highscore","func":"classes = msg.result.images[0].classifiers[0].classes;\nhighscore = 0;\ncls = \"\";\nurl = \"\";\nfor (i = 0; i < classes.length; i++) {\n    if (classes[i].score > highscore) {\n        highscore = classes[i].score;\n        cls = classes[i].class;\n        url = msg.result.images[i].source_url;\n    }\n}\n\nvar dct = {\n    \"jotter (notebook)\": {\n        \"Organization\": \"Red Cross\",\n        \"DropOffLocation\": \"Tempe\",\n        \"DropOffTime\": \"1500 Hrs\",\n        \"Requirement\": 5000,\n        \"Actual\": 2000\n    },\n    \"furniture\":  {\n        \"Organization\": \"Teach for America\",\n        \"DropOffLocation\": \"Phoenix\",\n        \"DropOffTime\": \"1700 Hrs\",\n        \"Requirement\": 500,\n        \"Actual\": 20\n    },\n    \"bag\": {\n        \"Organization\": \"World Health Organization\",\n        \"DropOffLocation\": \"Scottsdale\",\n        \"DropOffTime\": \"1800 Hrs\",\n        \"Requirement\": 3000,\n        \"Actual\": 100\n    },\n    \"crayon\":{\n        \"Organization\": \"Red Cross\",\n        \"DropOffLocation\": \"Chandler\",\n        \"DropOffTime\": \"1600 Hrs\",\n        \"Requirement\": 1000,\n        \"Actual\": 1000\n    }\n    \n}\nvar details = {};\ndetails = dct[cls];\ndetails.Object = cls;\ndetails.Url = url;\n\n\n\nmsg.payload = details;\nreturn msg;","outputs":1,"noerr":0,"x":723.6000442504883,"y":570.6000566482544,"wires":[["353979b1.70ab26","8de329e8.553458"]]},{"id":"353979b1.70ab26","type":"debug","z":"a00dfdd9.ce078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","x":917.6000366210938,"y":562,"wires":[]},{"id":"8de329e8.553458","type":"template","z":"a00dfdd9.ce078","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!doctype html>\n<html lang=\"en\">\n  <head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n\n    <title>Hello, world!</title>\n  </head>\n  <body>\n  <h1>Drop off details</h1>\n  <p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<ul style=\"list-style-type:none; font-size: 20px;\">\n    <li>Item: {{ payload.Object }}</li>\n    <li>Organization: {{ payload.Organization }}</li>\n    <li>Drop Off Location: {{ payload.DropOffLocation }}</li>\n    <li>Drop Off Time: {{ payload.DropOffTime}}</li>\n    <li>Requirement: {{ payload.Requirement }}</li>\n    <li>Actual: {{ payload.Actual }}</li>\n    \n</ul>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n\n    <!-- Optional JavaScript -->\n    <!-- jQuery first, then Popper.js, then Bootstrap JS -->\n    <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\" integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\" integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\" crossorigin=\"anonymous\"></script>\n  </body>\n</html>\n\n<html>\n","x":927.7999992370605,"y":454.0000057220459,"wires":[["b845a4df.2ccc88"]]}]
